 main {
    background-color: $bg-color-main;

    .rowGuitar {
        margin-right: 5%;
        margin-left: 8.5%;
        justify-content: space-between;
    }

    .textoMostSold {
        text-align: center;
        color: white;
        padding-top: 2%;
        padding-bottom: 1.5%;
    }

     .contenedorGuitar {
        text-align: center;
        align-items: center;
        padding-top: 2%;
        padding-right: 5%;
        padding-bottom: 7%;
    }

     .cardGuitar {
        text-align: center;
         height: 320px !important;
         width: 320px!important;
         border: solid black 5px;
     }

     .cardTitulo {
         margin-top: 3%;
         color: white;
     }
     .cardTituloIbanez {
        margin-top: 3%;
        color: white;
    }

    .footerBar {
        background-color: black;
        height: 100%;
        width: 100%;
     }
}

@media (max-width: 576px){

    .contenedorHeader{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        background-color: #2B3035;
        object-fit: cover;
    }


    .responsiveCarousel{
        text-align: center;
        align-items: center;
    }

    .textoMostSold {
        color: white;
        text-align: center;
    }

    .rowGuitar {
        margin-left: auto;
        margin-right: auto;
    }

    .contenedorGuitar {
        justify-content: center;
        padding-left: 16%;
        padding-right: 0%;
        margin-bottom: 8%;
        width: 400px;
        height: 400px;
      }

    .contenedorNewsletter {
        background-color: $color-terciario;
        width: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 17vh;
    }
    
    .centered-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        height: 100%;
    }
    
    .cardGuitar {
        margin-left: 0%;
        padding: 8%;
        text-align: center;
        height:80%;
        width: 80%;
        text-align: center;
    }

    .cardTitulo {
        padding-top: 8%;
        margin-left: 5%;
        color: white;
        text-align: center;
        font-size: 1.3rem;
        justify-content: center;

    }

    .cardTituloIbanez {
        padding-top: 10%;
        color: white;
        text-align: center;
        font-size: 1.3rem;
        justify-content: center;

    }

}

@media (min-width: 577px) and (max-width: 815px){

    .cardGuitar {
        margin-left: 0%;
        text-align: center;
        height:100%;
        width: 100%;
        padding-bottom: -12%;
    }

    .contenedorGuitar {
        justify-content: space-between;
        padding-left: 20%;
        padding-right: 0%;
        margin-bottom: -10%;
        width: 480px;
        height: 480px;
      }

      .rowGuitar {
        margin-right: 0%;
        padding-left: 5%;
        padding-bottom: -12%;
    }

}