 main {
    background-color: $bg-color-main;

    .rowGuitar {
        margin-right: 10%;
    }

    .textoMostSold {
        text-align: center;
        color: white;
    }

     .contenedorGuitar {
        padding-right: 10%;
        text-align: center;
        justify-content: space-between;
    }

     .cardGuitar {
         text-align: center;
         height: 320px !important;
         width: 320px!important;
     }

     .card-title {
         margin-top: 3%;
         color: white;
     }

     .contenedorNewsletter {
        background-color:$color-terciario;
        width: 100%;
        padding-top: 1%;
        padding-bottom: 1.5%;
        margin-top: 3%;
    }

    .textoNews {
        color: white;
    }

    .footerBar {
        background-color: black;
        height: 100%;
        width: 100%;
     }
}

@media (max-width: 576px){

    .contenedorHeader{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        background-color: #2B3035;
        object-fit: cover;
    }


    .responsiveCarousel{
        text-align: center;
        align-items: center;
    }

    .textoMostSold {
        color: white;
        text-align: center;
    }

    .rowGuitar {
        margin-left: auto;
        margin-right: auto;
    }

    .contenedorGuitar {
        justify-content: space-between;
        padding-left: 5%;
        padding-right: 5%;
        width: 400px;
        height: 400px;
      }

    .contenedorNewsletter {
        background-color: $color-terciario;
        width: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 17vh;
    }
    
    .centered-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        height: 100%;
    }
    
    .textoNews {
        color: white;

    }
  
    .textoEnterEmail {
        padding-left: 0%;
        color: white;
    }

    .cardGuitar {
        margin-left: 0%;
        padding-right: 10%;
        text-align: center;
        height:80%;
        width: 80%;
        align-items: center;
        text-align: center;
    }
}

@media (min-width: 577px) and (max-width: 815px){

    .cardGuitar {
        margin-left: 20%;
        text-align: center;
        height:80%;
        width: 80%;
        align-items: center;
        text-align: center;
    }

}