 main {
    background-color: $bg-color-main;
 }
    @media (min-width: 820px) and (max-width: 1930px){

    .hideOnBigScreen {
        display: none;
    }



 /* CLASES DE PAGINAS DE GUITARRA */

.tituloGuitarraFender{
    padding-left: 18.1%;
    padding-top: 1.5%;
    margin-bottom: 1.4%;
    color:white;
}

.imgGuitarraFender{
    margin-left: 5%;
    border: solid black 5px;
    position:static;
    height: 500px;
    width: 500px;
}

.infoGuitarraFender{
    padding-left: 0%;
    color:white;
    font-size: 1.8rem;
    margin-top: 5%;
}

.textoBuyNow{
    padding-top: 2%;
    padding-left: 17.5%;
    color:white;
}

.textoPrice{
    padding-left: 17.5%;
    color:white;
    padding-bottom: 1.8%;
}

}
@media (max-width: 400px) and (max-width: 576px){

    .contenedorHeader{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        background-color: #2B3035;
    }

    .responsiveCarousel{
        text-align: center;
        align-items: center;
    }

    .textoMostSold {
        padding-left: 0%;
        color: white;
        text-align: center;
    }

    .textoVarios {
        padding-left: 5%;
        color: white;
    }

/* CLASES DE SITIOS DE GUITARRAS */

.infoGuitarraGibson{
    padding-left: 0%;
    margin-top: 5%;
    color:white;
    font-size: 1rem;
    width: 100%;
    text-align: center;
    align-items: center;
}
.tituloGuitarraGibson{
    padding-left: 15%;
    padding-top: 1.5%;
    margin-bottom: 1.4%;
    color:white;
}
.imgGuitarraGibson{
    margin-left: 0%;
    border: solid black 5px;

}
    
.textoBuyNow{
    padding-left: 0%;
    color:white;	
    }

    .textoPrice{
        padding-left: 0%;
        color:white;
        padding-bottom: 1.8%;
    }

    .margenGuitar {
        margin-bottom: 5%;
    }
    
    .hideOnSmallScreen {
        display: none;
    }
      
}

@media (min-width: 577px) and (max-width: 815px) {
    
    .hideOnBigScreen {
        display: none;
    }

    .imgGuitarraFender{
        margin-top: 0%;
        margin-left: 0%;
        border: solid black 5px;
        height: 350px;
        width: 350px;
    }

    .infoGuitarraFender {
        padding-left: 20%;
        padding-top: 2%;
        color:white;
        font-size: 1.2rem;
        width: 100%;
        text-align: center;
    }

    .tituloGuitarraFender{
        padding-top: 2%;
        padding-bottom: 2%;
        padding-left: 7%;
        color:white;
    }

    .textoBuyNow{
        padding-top: 0%;
        color:white;	
        }

}