footer {
        background-color: black;
        text-align: center;
    }

    .contenedorNewsletter {
      background-color: $color-terciario;
      width: auto;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 17vh;
  }
  
  .centered-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      height: 100%;
      margin-top: 2%;
      margin-bottom: 3%;
  }
  
  .textoNews {
      color: white;
      font-size: 1.7rem;

  }

  .textoEnterEmail {
      padding-left: 0%;
      color: white;
  }

     
     .footerBar {
        background-color: black;
        height: 100%;
        width: 100%;
     }

     .textoFooter {
        background-color: black;
        text-decoration: none;
        color: white;
        height: 100%;
        }

    .imgFooterUno {
        width: 90px;
        height: 90px;
    }

    .imgFooterDos {
        width: 90px;
        height: 60px;
    }