header {

    nav {
        ul {
            padding-top: 1%;
            font-size:$fontsize-navbar;
            text-align: right;
            justify-content: space-between;
        }
    }

    .contenedorHeader {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        background-color: $color-secundario;
       }

    .fotoLogo { 
        padding: 1%;
        object-fit:scale-down;        
        }

    .navbar-brand {
        font-size: $fontsize-main;
        font-weight: bold;
    }
    .rowHeader {
        margin-left: auto;
        margin-right: auto;
        padding-left: 0%;
    }
}

@media (max-width: 576px){

    .contenedorHeader{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        background-color: $color-secundario;
    }

    .fotoLogo {
        padding: 1%;
        position: static;
        object-fit: cover;
        }

}