// Paleta de colores

$color-principal: #23536D;
$color-secundario:#2B3035;
$color-terciario: #525252;

$bg-color-main:#23536D;
$bg-color-secondary: PEND;

// Texto 

$font-main: "PEND";
$fontsize-main: 2.5rem;
$fontsize-navbar: 1.5rem;

$font-secondary: PENDIENTE;
$fontsize-secondary:1.25rem;